<!DOCTYPE html>
<html>
  <head>
    <title>Taskleaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'tasks', tasks_path %>
      <% if current_user.admin? %>
        <%= link_to 'users', admin_users_path %>
      <% end %>
      <%= link_to 'sign out', logout_path, method: :delete %>
    <% else %>
      <%= link_to 'sign in', login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
